<section class="px2 py3 bg-orange">
  <div class="container">
  <h2 class="mt0">
    Filmmakers.io is a side-project from <%= link_to '@jonarcher', 'http://twitter.com/jonarcher' %>
    </a>
  </h1>
  <div class="clearfix mxn2">
    <div class="sm-col sm-col-8 md-col-9 px2">
      <div>
        <h2 class="h3">
          Who?
        </h2>
        <p>Hi. I'm Jonathan Archer, and I've been a part of the indie film community for the last decade. I was a programmer at ITVS from 2006 - 2012, first in broadcast, then in interactive. Now I freelance with mediamakers and organizations and startups. I also build things with awesome collaborators at <%= link_to 'Assembly', 'http://www.assembly.com' %>.</p>
      </div>
      <div>
        <h2 class="h3">
          Why are you charging?
        </h2>
        <p>Most importantly, charging a nominal annual fee for access allows me to build this community in a sustainable way. Because I won't have to seek any outside funding, I'll be able to focus on adding more value to the community, through AMAs, special events, even possibly meetups, etc. </p>
      </div>
    </div>
    <div class="sm-col sm-col-4 md-col-3 px2 sm-show">
      <img class="circle m2" src="https://gravatar.com/avatar/2da61c5c94aefc6a20742e97d1abe6d4?s=200" />
    </div>
  </div>
</div>
</section>
