
  <div class="clearfix navy bg-white py2">
    <div class="center container">
      <h1 class="px2 italic">&quot;It's about forming your community. Community in our day and age, in what we're trying to do, is really critical.&quot;
      </h1>
      <div class="center">
      <img src="./images/vachon.jpg" class="circle border border-navy p1" style="width:100px;"/>
      <p class="center px4">Christine Vachon, SXSW Keynote 2015</p>
    </div>
  </div>

  </div>
