<div class="clearfix center bg-white py3">
  <h1 class="mb3">Connect with a global film community!</h1>
  <div class="container">
    <img src="http://hashtagnomads.com/assets/screen.png" />
  </div>
</div>
