<section class="px1 py4 white bg-olive">
  <div class="container clearfix">
    <div class="center sm-col sm-col-4 px2">
      <h2 class="h1 m0 mb2">Connect</h2>
      <i class="fa fa-5x fa-connectdevelop mb3"></i>
    </div>
    <div class="center sm-col sm-col-4 px2">
      <h2 class="h1 m0 mb2">Collaborate</h2>
      <i class="fa fa-5x fa-retweet mb3"></i>
    </div>
    <div class="center sm-col sm-col-4 px2">
      <h2 class="h1 m0 mb2">Organize</h2>
      <i class="fa fa-5x fa-sitemap mb3"></i>
    </div>
  </div>
</section>
