<footer class="white bg-black">
  <div class="px2 py4 container">
    <div class="clearfix center mxn2">

      <p>Want to be notified when more spaces become available?</p>
      <form action="//email.us10.list-manage.com/subscribe/post?u=f322050a4383c070363bbe9ba&amp;id=bd6e90f365" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate rounded" target="_blank" novalidate>

        <div id="mce-responses" class="clear">
          <div class="response" id="mce-error-response" style="display:none"></div>
          <div class="response" id="mce-success-response" style="display:none"></div>
        </div>
        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div style="position: absolute; left: -5000px;"><input type="text" name="b_f322050a4383c070363bbe9ba_bd6e90f365" tabindex="-1" value=""></div>

        <div class="InputAddOn">

          <input type="email" value="" name="EMAIL" class="InputAddOn-field" id="mce-EMAIL" placeholder="What's your email?" required>
          <input type="submit" value="Keep me posted" name="subscribe" id="mc-embedded-subscribe" class="email InputAddOn-item">
        </div>
      </form>

      <!-- <a href="#" class="h3 button button-big mt2 mb3"><i class="fa fa-pencil mr2"></i>Sign Up Now</a> -->
      <p>Already a member? <%= link_to "Sign in", 'http://filmmakers.slack.com' %></p>
      <p class="h6 mb0">&copy; 2015 Filmmakers.io</p>
      <p class="h6 mb0"><em>Powered by <a href="https://slack.com/" target="_blank" class="white">Slack</a></em> <i class="fa fa-slack"></i></p>
    </div>

  </div>
</footer>
