<footer class="white bg-black">
  <div class="px2 py4 container">
    <div class="clearfix center mxn2">
      <a href="#" class="h3 button button-big mt2 mb3"><i class="fa fa-pencil mr2"></i>Sign Up Now</a>
      <p>Already a member? <%= link_to "Sign in", 'http://filmmakers.slack.com' %></p>
      <p class="h6 mb0">&copy; 2015 Filmmakers.io</p>
    </div>

  </div>
</footer>
