

<header class="center white bg-gray bg-cover bg-center"
  style="height: 100vh; background-image: url(https://unsplash.imgix.net/photo-1418479631014-8cbf89db3431?q=75&fm=jpg&s=478a9a2196033db7c0bf3c8ba3707f4d)">


  <div class="py4">
  <div class="py4">
  <div class="center px2 py4">
    <h1 class="h1 h0-responsive caps mt4 mb0 px2 py1 regular bg-gray inline-block rounded black" style="background: #F6F5AE;">filmmakers.io</h1><br>
    <p class="clearfix h2 mt2 mb3 px1 py1 caps inline-block rounded" style="background: #2D3E5B;">the premium filmmaking community</p>
    <br>
    <p class="px3 py2 bg-olive inline-block rounded" style="background: #188FA7;">Coming Soon</p>


  </div>
</div>
</div>

</header>
