

<header class="center white bg-gray bg-cover bg-center"
  style="height: 100vh; background-image: url(https://unsplash.imgix.net/photo-1418479631014-8cbf89db3431?q=75&fm=jpg&s=478a9a2196033db7c0bf3c8ba3707f4d)">


  <div class="py4">
  <div class="py4">
  <div class="center px2 py2">
    <h1 class="h1 h0-responsive caps mt4 mb0 px2 py1 regular bg-gray inline-block rounded black" style="background: #F6F5AE;">filmmakers.io</h1><br>
    <p class="clearfix h2 mt2 mb4 px1 py1 caps inline-block rounded" style="background: #2D3E5B;">the premium filmmaking community</p>
    <br>
    <form action="#" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate rounded" target="_blank" novalidate>
                    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                    <div style="position: absolute; left: -5000px;"><input type="text" name="b_9df0c2d1cfcf0b0fb8bbe860a_5763e7c43e" tabindex="-1" value=""></div>

                    <div class="InputAddOn">

                      <input type="email" value="" name="EMAIL" class="InputAddOn-field" id="mce-EMAIL" placeholder="What's your email?" required>
                      <input type="submit" value="Keep me posted" name="subscribe" id="mc-embedded-subscribe" class="email InputAddOn-item">
                    </div>
                  </form>


  </div>
</div>
</div>

</header>
