

<header class="center white bg-gray bg-cover bg-center"
  style="background-image: url(https://unsplash.imgix.net/photo-1418479631014-8cbf89db3431?q=75&fm=jpg&s=478a9a2196033db7c0bf3c8ba3707f4d)">

  <div class="sm-show"><%= partial "nav" %></div>

  <div class="center px2 py4">
    <div class="corner-ribbon top-right sticky">Alpha</div>
    <h1 class="h1 h0-responsive caps mt4 mb0 px2 py1 regular bg-gray inline">filmmakers.io</h1><br>
    <p class="h2 mt2 mb3 py1 caps">the premium filmmaking community</p>

    <a class="typeform-share button button-big"  href="https://filmmakersio.typeform.com/to/QyZCvu" data-mode="1" target="_blank"><i class="fa fa-thumbs-o-up mr2"></i>Get Early Access</a>
    <script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'share.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}id=id+'_';if(!gi.call(d,id)){qs=ce.call(d,'link');qs.rel='stylesheet';qs.id=id;s=gt.call(d,'head')[0];s.appendChild(qs,s)}})()</script>


    <br><br><br><p class="italic mb4 bg-black inline p1"><small>Limited Alpha Pricing: First 50 members get in for just $5.&nbsp;<br><br>&nbsp;Follow on <%= link_to '@filmmakersio', 'http://twitter.com/filmmakersio' %> on Twitter for promo code.</small></p>
  </div>

</header>
