<nav class="clearfix white">
  <div class="container">
  <div class="sm-col">
    <a href="/" class="button button-transparent">FILMMAKERS.IO</a>
  </div>
  <!-- <div class="sm-col-right">
    <a href="/" class="button button-transparent">Sign Up</a>
  </div> -->
</div>
</nav>
